@model IEnumerable<FSPE.ViewModels.CartViewModel>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>

<style>
    .clubcontainer {
        font-size: 16px;
        width: 80%;
        margin: 0 auto;
    }

    .groupheader {
        font-size: 18px;
        font-weight: bold;
    }

    .clubname {
        width: 200px;
        display: block;
        float: left;
    }

    .clubgrades, .clubdays, .clubprice, .clubtime {
        width: 150px;
        float: left;
        display: block;
    }

    .actions {
        width: 800px;
    }
    .actions-left {
        float: left;
    }
    .actions-right {
        float:right;
        text-align: right;
    }
</style>

@if (!Model.Any())
{
    <p>Your shopping cart is empty.</p>
    <br />
    @Html.ActionLink("Return to Club Selection", "Index", "Club", null, new { @class="btn btn-primary"})
}
else
{
    <p style="font-size: 18px;">You have selected the following clubs for your child(ren).  Please verify the information is correct before continuing.</p>
    <div class="clubcontainer">
        @foreach (var group in Model.GroupBy(m => m.registration.ChildName))
        {
            <div class="group">
                <div class="groupheader">
                    @Html.Encode(group.Key)
                </div>
                @foreach (var club in group)
                {
                    <div class="club" id="@club.registration.Id">
                        <span class="clubname">@club.club.Name</span>
                        <span class="clubgrades"><span class="label">Grades: </span>@club.club.Grades</span>
                        <span class="clubdays"><span class="label">Day: </span>@club.club.Days</span>
                        <span class="clubtime"><span class="label">Time: </span>@club.club.Time</span>
                        <span class="clubprice"><span class="label">Price: </span>@club.club.Price.ToString("c")</span>
                    </div>
                }
                <div style="clear: both;"></div>
            </div>
            <br />
        }
        
        <div class="actions">
            <div class="actions-left">
                @Html.ActionLink("Clear Cart", "ClearCart", "Checkout", null, new { @class = "btn btn-default" })
            </div>
            <div class="actions-right">
                @Html.ActionLink("Register Another Child", "Index", "Club", null, new { @class="btn btn-default"})
                @Html.ActionLink("Pay Now", "New", "Checkout", null, new { @class= "btn btn-primary" })
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
}