@model IEnumerable<FSPE.Models.ClubRegistration>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <p>We don't currently have any clubs.</p>
}
else
{
    <p style="font-size: 18px;">You have selected the following clubs for your child(ren).  Please verify the information is correct before continuing.</p>
    <div class="clubcontainer">
        @foreach (var group in Model.GroupBy(club => club.ChildName))
        {
            <div class="group">
                <div class="groupheader">
                    Child: @Html.Encode(group.Key)
                </div>
                @foreach (var club in group)
                {
                    <div class="club" id="@club.Id">
                        <span class="clubheader">@club.Club.Name</span>
                        <span class="label">Grades: </span>@club.Club.Grades
                        <span class="label">Day: </span>@club.Club.Days
                        <span class="label">Time: </span>@club.Club.Time
                        <span class="label">Price: </span>@club.Club.Price.ToString("c")
                    </div>
                }
            </div>
        }
    </div>
}