@model IEnumerable<FSPE.ViewModels.ClubSignupViewModel>
@{
    ViewBag.Title = "Index";
}

<style>

    /* Mobile first queries */
        .clubcontainer {
            height: 1100px;
            margin: 0 auto;
            float: none;
            display: block;
            border: 5px solid;
        }

        .group {
            float: left;
            border: 1px solid #808080;
            width: calc(100% / 2);
            text-align: center;
        }

        .groupheader {
            background-color: darkseagreen;
            font-size: 16px;
            font-weight: bold;
            color: white;
            height: 32px;
            text-align: center;
        }

        .club {
            border-bottom: 1px solid #808080;
        }

        .club .overlay {
            display: none;
        }

        .club:hover {
            background-color: lightgreen;
        }

        .clubclosed {
            background-color: #e0e0e0;
            border-bottom: 1px solid #808080;
        }

        .clubclosed .overlay { 
            position: absolute;
            text-align: center;
            margin-top: -75px;
            margin-left: 35px;
            opacity: 0.7;
        }

        .clubclosed .overlay img {
            width: 100px;
        }

        .clubclosed:hover .overlay {
            opacity: 0.7;

        }

        .clubselected {
            background-color: lightgreen;
        }

        .clubheader {
            font-weight: bold;
            text-align: center;
        }

        .label {
            width: 50%;
            text-align: right;
            color: #808080;
            font-size: 12px;
            display: block;
            float: left;
            padding-right: 10px;
        }

        #registerbtn {
            float: right;
        }
    /* Larger than mobile */
    @@media (min-width: 400px) {
        .clubcontainer {
            height: 650px;
            margin: 0 auto;
            float: none;
            display: block;
            border: 5px solid;
        }

        .group {
            float: left;
            border: 1px solid #808080;
            width: calc(100% / 4);
            text-align: center;
        }

        .groupheader {
            background-color: darkseagreen;
            font-size: 16px;
            font-weight: bold;
            color: white;
            height: 32px;
            text-align: center;
        }

        .club {
            border-bottom: 1px solid #808080;
        }

        .club .overlay {
            display: none;
        }

        .club:hover {
            background-color: lightgreen;
        }

        .clubclosed {
            background-color: #e0e0e0;
            border-bottom: 1px solid #808080;
        }

        .clubclosed .overlay { 
            position: absolute;
            text-align: center;
            margin-top: -75px;
            margin-left: 90px;
            opacity: 0.7;
        }

        .clubclosed .overlay img {
            width: 100px;
        }

        .clubclosed:hover .overlay {
            opacity: 0.7;

        }

        .clubselected {
            background-color: lightgreen;
        }

        .clubheader {
            font-weight: bold;
            text-align: center;
        }

        .label {
            width: 50%;
            text-align: right;
            color: #808080;
            font-size: 12px;
            display: block;
            float: left;
            padding-right: 10px;
        }

        #registerbtn {
            float: right;
        }
    }

</style>
<h2>Available Clubs</h2>

@if (!Model.Any())
{
    <p>We don't currently have any clubs.</p>
}
else
{
    if (DateTime.Now > new DateTime(2017, 3, 11, 22, 0, 0))
    {
        <p style="font-size: 18px;">Registration is <b>NOT</b> currently open. We will begin taking signups <b style="font-size:20px;">First Quarter.</b>.  Please check back then.</p>
        <p>Please review the 2016-2017 Quarter 4 clubs below.</p>
    }
    else
    {
        <p style="font-size: 18px;">Registration is OPEN. Please select the clubs you'd like your child to attend and then click the REGISTER button.  <b>Make your selections for one child.</b>  If you have multiple children, you will be given the option to register them after signing up the first child.</p>

        if (TempData["Flash"] != null)
        {
            <p style="font-size: 18px;color:red;">@TempData["Flash"]</p>
        }
    }
    <div class="clubcontainer">
        @foreach (var group in Model.GroupBy(club => club.Days))
        {
            <div class="group">
                <div class="groupheader">
                    @Html.Encode(group.Key)
                </div>
                @foreach (var club in group)
                {
                   var className = "club";
                    if (club.Remaining <= 0) {
                        className += "closed";
                    }
                <div class="@className" id="@club.Id">
                    <div class="clubheader">@club.Name</div>
                    <div><span class="label">Spots Remaining: </span>@club.Remaining of @club.Capacity</div>
                    <div><span class="label">Grades: </span>@club.Grades</div>
                    <div><span class="label">Time: </span>@club.Time</div>
                    <div><span class="label">Price: </span>@club.Price.ToString("c")</div>
                    <div class="overlay">
                        <img src="~/Content/full.png" />
                    </div>

                </div>
            }
            </div>
    }
    </div>

    if (DateTime.Now < new DateTime(2017, 3, 11, 22, 0, 0))
    {
    <br />
        using (Html.BeginForm("NewRegistration", "Club", FormMethod.Post, new { id = "registrationform" }))
        {
        <button id="registerbtn" type="submit" class="btn btn-primary">Register</button>
            <input type="hidden" id="clubs" name="clubs" value="" />
            <div style="clear:both"></div>
        }

        <script>
            $("div.club").click(function () {

                $(this).parent().find("div.clubselected").not(this).removeClass("clubselected");
                $(this).toggleClass("clubselected");
            });

            $("#registrationform").submit(function () {
                var arrayOfIds = $.map($("div.clubselected"), function (n, i) {
                    return n.id;
                });

                var clubs = arrayOfIds.splice(",");

                if (clubs == "") {
                    alert("Please select at least one club.");
                    return false;
                }

                $("#clubs").val(clubs);
            });
        </script>
     }
    }