@model IEnumerable<FSPE.Models.Club>
@{
    ViewBag.Title = "Index";
}

<style>
    .clubcontainer {
        height: 550px;
        margin: 0 auto;
        float: none;
        display: block;
        border: 5px solid;
    }
    .group {
        float: left;
        border: 1px solid #808080;
        width: calc(100% / 4); 
        text-align:center;
    }

    .groupheader {
        background-color: darkseagreen;
        font-size: 16px;
        font-weight: bold;
        color: white;
        height: 32px;
        text-align: center;

    }

    .club {
        border-bottom: 1px solid #808080;
    }

    .club:hover {
        background-color: lightgreen;
    }

    .clubheader {
        font-weight: bold;
        text-align: center;
    }

    .label {
        width: 50%;
        text-align: right;
        color: #808080;
        font-size: 12px;
        display: block;
        float: left;
        padding-right: 10px;
    }
</style>
<h2>Available Clubs</h2>

@if (!Model.Any())
{
    <p>We don't currently have any clubs.</p>
}
else
{
    <p style="font-size: 18px;">Registration is <b>NOT</b> currently open. We will begin taking signups on <b style="font-size:20px;">8/22/16</b>.  Please check back then.</p>
    <p>Please review the 2016 Quarter 1 clubs below.</p>
    <div class="clubcontainer">
    @foreach (var group in Model.GroupBy(club => club.Days))
    {
        <div class="group">
            <div class="groupheader">
                @Html.Encode(group.Key)
            </div>
            @foreach (var club in group)
            {
                <div class="club">
                    <div class="clubheader">@club.Name</div>
                    <div><span class="label">Spots Remaining: </span>@club.Capacity of @club.Capacity</div>
                    <div><span class="label">Grades: </span>@club.Grades</div>
                    <div><span class="label">Time: </span>@club.Time</div>
                    <div><span class="label">Price: </span>@club.Price.ToString("c")</div>


                </div>
            }
        </div>
    }
    </div>

    <script>
        (function ($) {

            $.fn.uncheckableRadio = function () {

                return this.each(function () {
                    $(this).mousedown(function () {
                        $(this).data('wasChecked', this.checked);
                    });

                    $(this).click(function () {
                        if ($(this).data('wasChecked'))
                            this.checked = false;
                    });
                });

            };

        })(jQuery);

        $('input[type=radio]').uncheckableRadio();
    </script>
}