@model IEnumerable<FSPE.Models.Club>
@{
    ViewBag.Title = "Index";
}

<h2>Available Clubs</h2>

@if (!Model.Any())
{
    <p>We don't currently have any clubs.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Select</th>
                <th>Club Name</th>
                <th>Spots Remaining</th>
                <th>Grades</th>
                <th>Time</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.GroupBy(club => club.Days))
            {
                <tr>
                    <td colspan="6" style="background: darkseagreen; color: white;font-weight: bold" >
                        @Html.Encode(group.Key)
                    </td>
                </tr>


                foreach (var club in group)
                {
                    <tr>
                        <td style="text-align: center">@Html.RadioButton(group.Key, club.Id)</td>
                        <td>@club.Name</td>
                        <td>@club.Capacity of @club.Capacity</td>
                        <td>@club.Grades</td>
                        <td>@club.Time</td>
                        <td>@club.Price.ToString("c")</td>


                    </tr>
                }
            }
        </tbody>
    </table>

    <script>
        (function ($) {

            $.fn.uncheckableRadio = function () {

                return this.each(function () {
                    $(this).mousedown(function () {
                        $(this).data('wasChecked', this.checked);
                    });

                    $(this).click(function () {
                        if ($(this).data('wasChecked'))
                            this.checked = false;
                    });
                });

            };

        })(jQuery);

        $('input[type=radio]').uncheckableRadio();
    </script>
}