@model FSPE.ViewModels.RegisterClubViewModel
@{
    ViewBag.Title = "NewRegistration";
    Html.EnableClientValidation(true);
}

<h2>Child Information</h2>

<style>
    /* Mobile first queries*/
    #childinfo {
            float: none;
            width: 100%;
        }

        #parentinfo {
            float: none;
            width: 100%;
        }

        #parentinfo .form-group {
        }

        .registration {
            height: auto;
            width: 100%;
        }

        #submitbtn {
            float: right;
        }

        .terms {
            width: 100%;
        }

        .actions {
            width: 100%;
        }

    /* Larger than mobile */
    @@media (min-width: 400px) {
        #childinfo {
            float: left;
            width: 50%;
        }

        #parentinfo {
            float: left;
            width: 50%;
        }

            #parentinfo .form-group {
                float: right;
                clear: both;
                width: 300px;
            }

        .registration {
            height: auto;
            width: 650px;
        }

        #submitbtn {
            float: right;
        }

        .terms {
            width: 650px;
        }

        .actions {
            width: 650px;
        }
    }
</style>

<p style="font-size:18px">Please enter contact information for you and your child and then click NEXT.</p>
@using (Html.BeginForm("Save", "Club"))
{
    <div class="registration">
        <div id="childinfo">
            <div class="form-group">
                @Html.LabelFor(m => m.ClubRegistration.ChildName)
                @Html.TextBoxFor(m => m.ClubRegistration.ChildName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ClubRegistration.ChildName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ClubRegistration.Grade)
                @Html.DropDownListFor(m => m.ClubRegistration.Grade, new List<SelectListItem> {
                       new SelectListItem { Value = "K" , Text = "K" },
                       new SelectListItem { Value = "1st" , Text = "1st" },
                       new SelectListItem { Value = "2nd" , Text = "2nd" },
                       new SelectListItem { Value = "3rd" , Text = "3rd" },
                       new SelectListItem { Value = "4th" , Text = "4th" },
                       new SelectListItem { Value = "5th" , Text = "5th" }
                    }, "Select Grade", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ClubRegistration.Grade)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ClubRegistration.Teacher)
                @Html.TextBoxFor(m => m.ClubRegistration.Teacher, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ClubRegistration.Teacher)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ClubRegistration.ChildDispositionId)
                @Html.DropDownListFor(m => m.ClubRegistration.ChildDispositionId, new SelectList(Model.ChildDispositions, "Id", "Name"), "Select One", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ClubRegistration.ChildDispositionId)
            </div>
        </div>
        <div id="parentinfo">
            <div class="form-group">
                @Html.LabelFor(m => m.ClubRegistration.ParentName)
                @Html.TextBoxFor(m => m.ClubRegistration.ParentName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ClubRegistration.ParentName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ClubRegistration.EmailAddress)
                @Html.TextBoxFor(m => m.ClubRegistration.EmailAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ClubRegistration.EmailAddress)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ClubRegistration.PhoneNumber)
                @Html.TextBoxFor(m => m.ClubRegistration.PhoneNumber, new { @class = "form-control", mask = "(999) 999-9999" })
                @Html.ValidationMessageFor(m => m.ClubRegistration.PhoneNumber)
            </div>
        </div>
        <div style="clear:both;">&nbsp;</div>
    </div>
    <div class="terms">
        <p style="font-weight:bold;font-size:18px;">Parent Release Agreement</p>
        <p>By clicking the "I Agree" checkbox below, you agree to release and discharge the Friends of San Pablo group,  Duval County School Board, its officers, agents and employees, exercising reasonable care within their scope of employment, from liability growing out of personal injuries and property damage resulting or occurring during the activities selected for registration.</p>
    </div>
    <div class="actions">
        <input type="hidden" name="Clubs" value="@Model.Clubs" />
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.ClubRegistration.ElectronicSignature) I Agree
                @Html.ValidationMessageFor(m => m.ClubRegistration.ElectronicSignature )
            </label>
        </div>
        <button id="submitbtn" type="submit" class="btn btn-primary">Next &#187;</button>
        <div style="clear:both"></div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerymask")
}

